In [5]:
import mysql.connector
from getpass import getpass
import pymysql
import pandas as pd
import mysql.connector
from getpass import getpass
from sqlalchemy import create_engine

In [9]:
password = getpass()
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw=password,
                               db="sakila"))

In [14]:
def rentals_month(engine, month, year):
    query = f"""
        SELECT *
        FROM rental
        WHERE MONTH(rental_date) = {month}
        AND YEAR(rental_date) = {year}
    """

    with engine.connect() as connection:
        rental_data = pd.read_sql(query, connection)

    return rental_data

In [15]:
rental_data = rentals_month(engine, 7, 2005)
print(rental_data)

      rental_id         rental_date  inventory_id  customer_id  \
0          3470 2005-07-05 22:49:24           883          565
1          3471 2005-07-05 22:51:44          1724          242
2          3472 2005-07-05 22:56:33           841           37
3          3473 2005-07-05 22:57:34          2735           60
4          3474 2005-07-05 22:59:53            97          594
...         ...                 ...           ...          ...
6704      10176 2005-07-31 23:40:35          1181           19
6705      10177 2005-07-31 23:42:33          2242          279
6706      10178 2005-07-31 23:43:04          1582          491
6707      10179 2005-07-31 23:49:54          2136          131
6708      10180 2005-07-31 23:57:43           757           50

             return_date  staff_id         last_update
0    2005-07-07 19:36:24         1 2006-02-15 21:30:53
1    2005-07-13 01:38:44         2 2006-02-15 21:30:53
2    2005-07-13 17:18:33         2 2006-02-15 21:30:53
3    2005-07-12 23:53:34         1 2006-02-15 21:30:53
4    2005-07-08 20:32:53         1 2006-02-15 21:30:53
...                  ...       ...                 ...
6704 2005-08-09 00:46:35         2 2006-02-15 21:30:53
6705 2005-08-03 01:30:33         2 2006-02-15 21:30:53
6706 2005-08-03 00:43:04         1 2006-02-15 21:30:53
6707 2005-08-01 20:46:54         2 2006-02-15 21:30:53
6708 2005-08-09 04:04:43         2 2006-02-15 21:30:53

[6709 rows x 7 columns]

In [17]:
def rental_count_month(rental_data, month, year):
    filtered_data = rental_data[(rental_data['rental_date'].dt.month == month) & (rental_data['rental_date'].dt.year == year)]
    
    rental_count = filtered_data.groupby('customer_id').size().reset_index(name='rental_count')
    
    return rental_count

rental_count_data = rental_count_month(rental_data, 7, 2005)
print(rental_count_data)

     customer_id  rental_count
0              1            12
1              2            14
2              3            13
3              4             5
4              5            16
..           ...           ...
594          595            19
595          596             6
596          597             7
597          598            16
598          599             7

[599 rows x 2 columns]

In [19]:
rental_count_data1 = rental_count_month(rental_data, 6, 2005)
rental_count_data2 = rental_count_month(rental_data, 7, 2005)

In [20]:
def compare_rentals(rental_count1, rental_count2):
    combined_data = pd.merge(rental_count1, rental_count2, on='customer_id', suffixes=('_month1', '_month2'), how='outer')
    
    combined_data['difference'] = combined_data['rental_count_month2'].fillna(0) - combined_data['rental_count_month1'].fillna(0)
    
    return combined_data

comparison_result = compare_rentals(rental_count_data1, rental_count_data2)
print(comparison_result)

     rental_count_month1  customer_id  rental_count_month2  difference
0                    NaN            1                   12        12.0
1                    NaN            2                   14        14.0
2                    NaN            3                   13        13.0
3                    NaN            4                    5         5.0
4                    NaN            5                   16        16.0
..                   ...          ...                  ...         ...
594                  NaN          595                   19        19.0
595                  NaN          596                    6         6.0
596                  NaN          597                    7         7.0
597                  NaN          598                   16        16.0
598                  NaN          599                    7         7.0

[599 rows x 4 columns]